h1{
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    color:white;
}
.input{
    
    margin-left:300px;
    height:50px;
    width:700px;
    border:2px solid black;
    border-radius:20px;
    font-size: 30px;
}
.btn{
    height:50px;
    width:200px;
    border:2px solid black;
    border-radius:20px;
    color:white;
    font-size: 30px;
    font-family: Arial, sans-serif;
    background-color: black;
    margin-top:200px;
}
.delete{
    background-color:black;
    height:50px;
    width:200px;
    border:2px solid black;
    border-radius:20px;

    font-size: 30px;
    font-family: Arial, sans-serif;
    color:white;
    margin-left:50px;

}
li{
    font-size: 50px;
    text-align:center;
    padding-top:20px;
    list-style-type: none;
}

